.centerText h1{
    text-align:center;
    line-height:50px;
    height: 50px;
    float:left;
    font-size: 60px;
}

.miniLogo img{
    width:50px;
    height:50px;
    border-radius: 7px;
    border: 3 solid #000000;
    float:left;
}
.title{
    background-image:url("/resources/img/retina_wood.png");
}

.body{
    width:1000px;
    background-image:url("/resources/img/retina_wood.png");
    margin: 20px auto auto;
    border-radius:10px;
}

.editContent{
    width:50%;
    margin:auto;
    text-align:center;
    overflow:hidden;
}
.weibo{
    width:400px;
    min-height:100px;
}

.weiboContent{
    width:80%;
    overflow:hidden;
    margin:auto;
    background-color:yellowgreen;
    border-radius:10px;
}
.oneContent{
    width:90%;
    min-height:50px;
    margin: 10px auto;
    box-shadow:3px 3px 3px #888888;
    background-color:white;
    text-align: left;
    font-size: 18px;
    border-radius:5px;
    padding-left:10px;
    padding-right:10px;
    line-height:50px;
    cursor:pointer;
}
.deleteButton{
    background-image:url("/resources/img/deleteIcon.png");
    position: absolute;
    margin-left: 745px;
    margin-top: -26px;
    width:50px;
    height:50px;
    display:none;
    cursor:pointer;
}
.leftArea{
    width:85%;
    float:left;
    text-align:right;
}
.rightArea{
    text-align:left;
    width:15%;
    float:left;
}

.mouseOver{
    background:yellow;
    width:95%;
    font-size:24;
}
.default{
    width:100%;
    min-height:80px;
    vertical-align:middle;
    text-align:center;
    margin:auto;
}
.redButton{
    background:red;
}

.login{
    width: 40%;
    background: #ffffff;
    margin: 200px auto auto;
    padding-top: 50px;
    padding-left: 50px;
    border-radius: 6px;
    border: solid yellowgreen;
    overflow: hidden;
}
.redBorder{
    border:solid red;
    width: 40%;
    background: #ffffff;
    margin: 200px auto auto;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
    border-radius: 6px;
}
.clientForm{
    width: 60%;
    float:left;
}
.bigLogo img{
    position: absolute;
    margin-top: -35px;
    width:120px;
    height:120px;
    border-radius: 20px;
    border: 5 solid #000000;
}
.head {
    padding-top: 50px;
    width:26%;
    overflow: hidden;
    padding-left: 380px;
}
.clientInfo{
    width: 100px;
    float:right;
    margin-top: -50px;
    padding-right: 20px;
}
.header{
    overflow: hidden;
 }
.greenBorder{
    border:solid yellowgreen;
    width: 40%;
    background: #ffffff;
    margin: 200px auto auto;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
    border-radius: 6px;
}
.allBackground{
    background: url("/resources/img/allBackground.jpg") no-repeat;
    background-size: cover;
}
.hiddenForm{
    display: none;
}
.warning{
    color: red;
    display: none;
}